.node {
  width: 100px;
  height: 100px;
   position: fixed;
}

.node .node_title {
  position: relative;
  width: 100px;
}

.node .node_canvas{
  width: 100px;
  height: 100px;
  position: relative;
}
